/* Adicione este código ao seu arquivo listavendas.css */

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.tabela-container-flex {
  display: flex;
  flex-direction: column;
}

.tabela-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #6b6b6b;
  margin-top: 10px;
}

.tabela-cell {
  flex: 1;
  padding: 0 10px;
  white-space: nowrap;
}

.verBtn,
.editarBtn,
.excluirBtn {
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: medium;
}

.tittle-table {
  font-size:medium;
}

.verBtn {
  color:#317776;
}

.editarBtn {
  color: #317776;
}
  
.excluirBtn {
  color: #ad2f26;
}

.inserir-btn {
  padding: 10px 10px;
  background-color: #317776;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.tabela-itens {
  display: flex;
  flex-direction: column;
  margin: 2% 1%;
}

.tabela-itens table {
  width: 100%;
  border-collapse: collapse;
}

.tabela-itens th,
.tabela-itens td {
  border: none;
  text-align: left;
  padding: 10px 0px;
}