/* Sidebar.css */
.sidebar-container {
  background-color: #eee;
  height: 100vh;
  transition: width 0.1s ease;
  padding: 10px;
  box-sizing: border-box;
  margin: 0;
  width: 200px;
}

.sidebar-button {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #317776;
  color: #fff;
  border: none;
  padding: 10px;
  transition: background-color 0.1s ease;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
}

.collapsed {
  width: 0;
  padding: 0;
}

.arrow {
  display: flex;
  justify-content: flex-end;
  font-size: 15px;
  flex: 1;
}
