.input-container {
    display: flex;
    gap: 10px;
    align-items: center;
}
  
.input-container input {
    height: 28px;
}

.searchBtn {
    background-color: #235656;
    color: #e2e2e2;
    border: none;
    padding: 6px;
    cursor: pointer;
    border-radius: 4px;
}
  
.mensagem {
    text-align: center;
    margin-top: 140px;
    font-style: italic;
}
  
.grid-container {
    display: grid;
    grid-template-columns: auto;
    border-bottom: 1px solid #767676;
    margin-top: 5%;
}
  
.grid-header {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #767676;
}
  
.grid-item {
    border-bottom: 1px solid #767676;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

.grid-item:last-child {
    border-bottom: none;
}

.grid-footer {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}